# This .gitignore is not meant to be used as a template, it is to ignore files in the templates repository itself

# macOS files
.DS_Store

# Windows files
Thumbs.db

# Xcode files
xcuserdata

# Eclipse files
.project
.cproject
.settings

# PyCharm files
.idea

# VS Code files
.vscode
